# Environment variables
.env

# Node.js dependencies
node_modules/

# Logs
npm-debug.log*

# OS files
.DS_Store

# WebStorm IDE settings
.idea/

# Test artifacts
allure-results/
allure-report/
reports/